$mainCLR:#161828;
$CLR: #9166F0;
$basCLR:#fff;
$CLRhover:linear-gradient(180deg, #F5B9FF 29.23%, #C4D9FF 100%);
$bcg:linear-gradient(90deg, #FFEEFE 0%, #F5F7FF 51.56%, #E4F2FE 100%);
$clrSUB:#646679;
$grad:radial-gradient(102.63% 102.63% at 31.02% 24.87%, #C2A5D1 0%, #B590CD 16.12%, #9A66C5 42.44%, #583C99 100%);
$grad2:radial-gradient(102.58% 102.58% at 31.12% 24.98%, #C2A5D1 0%, #B590CD 16.12%, #9A66C5 42.44%, #583C99 100%);
$grad3:linear-gradient(145.85deg, #FF98F6 21.67%, #77C3FF 90.49%);
$bcg2:#E0E9FE;
$bcg3:#EFF5FF;
$bcg4:#DCE3EE;
$bcg5:#A27DF2;
$bcg6:#FE6C9D;
$CLR3:#FF6D9E;
$CLR4:#78BEFF;
$CLR5:#7F4FE8;
$CLR6:#000;