/*=======HEADER=======*/
@mixin customFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin text ($ff,$fw,$fs,$lh,$ta) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height:$lh;
    text-align: $ta;
}

@mixin border {
    background:  $CLR;
    box-shadow: 0px 15px 25px rgba(115, 82, 208, 0.3);
    border-radius: 10px;
}

@mixin border_hover {
    background: $CLRhover;
    box-shadow: 0px 15px 25px rgba(228, 65, 119, 0.281);;
    border-radius: 10px;
}


/*=======HERO=======*/
@mixin text__hero ($ff,$fst,$fw,$fs,$lh) {
    font-family: $ff;
    font-style: $fst;
    font-weight: $fw;
    font-size: $fs;
    line-height:$lh;
}

@mixin figure ($wi,$he,$br,$bckg,$dis,$pos,$l,$t){
    width: $wi;
    height: $he;
    border-radius: $br;
    background:$bckg;
    display: $dis;
    position: $pos;
    left: $l;
    top: $t;
}