section.apps 
    div.container
        div.apps__content
            h1.title__apps Download Paynow Apps
            p.subtitle__apps There are many variations of passages of Lorem Ipsum available, but the <br> majority have suffered alteration in some form, by injected humour, or <br> randomised words which don't look even slightly believable. If you are <br> going to use a passage of Lorem Ipsum, you need to be sure there isn't <br> anything embarrassing

            div.apps__btn
                a.btn__apps(href="#") Google Play    
                    
                a.btn__apps.active__apps(href="#") Apple Store  
                    
        
        div.phone 
            div.phone__element 
                img.phone__img(src="./assets/images/apps/phone.png", alt="phone")