section.choose 
        div.container
                h1.title Why You Choose Us?
                p.subtitle There are many variations of passages of Lorem Ipsum available, but <br>the majority have suffered

                div.choose__item 
                        div.choose__inner
                            div.element__one
                                div.elmnt__circle
                                div.elmnt__circle
                                div.elmnt__circle
                            div.element__two 
                                div.star
                                    img(src="./assets/images/choose/star.png", alt="star")
                                    img(src="./assets/images/choose/star.png", alt="star")
                                    img(src="./assets/images/choose/star.png", alt="star")
                                    img(src="./assets/images/choose/star.png", alt="star")
                                    img(src="./assets/images/choose/star.png", alt="star")
                                div.icon
                                    img.icon__img(src="./assets/images/choose/icon.png", alt="star")
                                div.line__one
                                div.line__two
                                div.elmnt__btn
                            div.inner__text
                                h3.inner__title Easy To Use
                                p.inner__subtitle There are many variations of passages of lorem <br> Ipsum available, but the majority have suffered <br>alteration in some form
                        
                        div.choose__inner
                            div.circle__card
                                img.circle__img(src="./assets/images/choose/hand.png", alt="hand")
                            div.mini__circle     
                                h4 $
                            div.inner__text
                                h3.inner__title Faster Payments
                                p.inner__subtitle There are many variations of passages of lorem <br> Ipsum available, but the majority have suffered <br>alteration in some form
                        
                        div.choose__inner
                            div.card
                                h3.card__title VISA
                                p.card__subtitle 7383 8239 **** ****
                                p.card__subtitle2 Credit Holder Name
                                p.card__text Shamim Hossain
                            div.card__mini
                                div.cube 
                                    img.cube__img(src="./assets/images/choose/safe.png", alt="hand")
                                    div.line__three    
                            div.inner__text
                                h3.inner__title 100% Secure
                                p.inner__subtitle There are many variations of passages of lorem <br> Ipsum available, but the majority have suffered <br>alteration in some form
                div.slash
                    img.slash__img(src="./assets/images/choose/slash.png", alt="slash")    







