section.choose 
        div.container
                h1.title Why You Choose Us?
                p.subtitle There are many variations of passages of Lorem Ipsum available, but <br>the majority have suffered

                diiv.choose__item 
                        div.choose__inner
                            div.element__one
                                div.elmnt__circle
                                div.elmnt__circle
                                div.elmnt__circle
                            div.element__two 
                                div.star
                                    img(src="./assets/images/choose/star.png", alt="star")
                                    img(src="./assets/images/choose/star.png", alt="star")
                                    img(src="./assets/images/choose/star.png", alt="star")
                                    img(src="./assets/images/choose/star.png", alt="star")
                                    img(src="./assets/images/choose/star.png", alt="star")
                                div.icon
                                    img.icon__img(src="./assets/images/choose/icon.png", alt="star")
                                div.line__one
                                div.line__two
                                div.elmnt__btn





