section.choose 
        div.container
                h1.title Why You Choose Us?
                p.subtitle There are many variations of passages of Lorem Ipsum available, but <br>the majority have suffered