section.featurus 
        div.container
            h1.title Great Features Of Paynow
            p.subtitle There are many variations of passages of Lorem Ipsum available, but <br>the majority have suffered

            div.cards
                div.cards__item
                    include icon/iconone
                    p.text__item Send Money

                div.cards__item
                    include icon/icontwo
                    p.text__item Recieve Money

                div.cards__item
                    include icon/iconthree
                    p.text__item Pay A Friend

                div.cards__item
                    include icon/iconfoure
                    p.text__item Online Shopping