footer 
    div.container 
        div.footer__content 
            img.logo__img(src="./assets/images/logo/logo.png", alt="logo")
            nav
                ul.footer__nav
                    li.footer__item
                        a.foot__link(href='#') About Us
                    li.footer__item
                        a.foot__link(href='#') Support
                    li.footer__item
                        a.foot__link(href='#') Help
                    li.footer__item
                        a.foot__link(href='#') Fees
                    li.footer__item
                        a.foot__link(href='#') Careers
                    li.footer__item
                        a.foot__link(href='#') Fees 
