header 
    div.container.header
        div.logo.header__logo
                img.logo__img(src="./assets/images/logo/logo.png", alt="logo")                      
        nav 
            ul.header__nav.nav
                li.nav__item
                    a.nav__link.active(href="#") How It Works
                li.nav__item
                    a.nav__link(href="#") Payment
                li.nav__item
                    a.nav__link(href="#") Help
                li.nav__item
                    a.nav__link(href="#") Fees
                li.nav__item
                    a.nav__link.active(href="#") Sign in
                li.nav__item
                    a.nav__link.nav__btn(href="#") Sign up