section.hero
            div.figure__1
            div.figure__2
            div.figure__3
            div.figure__4 
            div.figure__5 
                    img(src="./assets/images/hero/hero-img.png", alt="img")
            
            

