section.hero
            div.figure__1
            div.figure__2
            div.figure__3 
            div.figure__4
                    img(src="./assets/images/hero/img.png", alt="img")
            div.hero__description
                    h1.hero__title Balance You <br> Best Interests
                    p.hero__subtitle It is a long established fact that a reader will be distracted by the <br>readable content of a page when looking at its layout.
                    div.hero__btn
                            a.btn(href="#") Create An Account    
                            div.circle
                            div.triangle
                            p.hero__text See How It Works?   
                    div.hero__img
                            img.img(src="./assets/images/hero/main-img.png", alt="img")

                         
                
                
                
            
            

