section.sponsors
    div.container
        div.wrap
            div.slide
                img.slide__img(src="./assets/images/sponsors/madaschi.png", alt="madaschi")
            div.slide
                img.slide__img(src="./assets/images/sponsors/telex.png", alt="telex")  
            div.slide
                img.slide__img(src="./assets/images/sponsors/treehouse.png", alt="treehouse")  
            div.slide
                img.slide__img(src="./assets/images/sponsors/basekit.png", alt="basekit")  
            div.slide
                img.slide__img(src="./assets/images/sponsors/sasa.png", alt="sasa")  
            div.slide
                img.slide__img(src="./assets/images/sponsors/escrow.png", alt="escrow")    
        div.nav__slider
            div.nav__elmnt.active
            div.nav__elmnt
            div.nav__elmnt
            div.nav__elmnt
            div.nav__elmnt