section.support 
        div.support__item 
            h3.support__title 24/7 Strong Customer Support
            p.support__subtitle There are many variations of passages of available the majority have suffered
        div.cover 
            img(src="./assets/images/support/cover.png", alt="cover")      