section.works 
    div.container
        div.line__foure

        div.works__item
            h1.works__title How Does It Works?
            p.works__subtitle There are many variations of passages of Lorem Ipsum available, but the <br>majority have suffered    
