section.works 
    div.container
        div.line__foure

        div.works__item
            h1.works__title How Does It Works?
            p.works__subtitle There are many variations of passages of Lorem Ipsum available, but the <br>majority have suffered    

            div.keys__item
                div.keys__text
                    h2.keys__title Sign Up Account
                    p.keys__subtitle If you are going to use a passage of Lorem Ipsum, you need to <br> be sure there isn't anything embarrassing.
                div.keys__img
                    img.keys__one(src="./assets/images/works/keys-1.png", alt="img")
                div.line__keys
                    img.line__img(src="./assets/images/works/line.png", alt="img")