.featurus {
    margin-top: 200px;
}

.cards {
    @include customFlex;
    text-align: center;
}

.cards__item {
    width: 330px;
    height: 300px;
    text-align: center;
}

.cards__item:first-child {
    background: $bckIT1;
}

.cards__item:nth-child(2) {
    background: $bckIT2;
}

.cards__item:nth-child(3) {
    background: $bckIT3;
}

.cards__item:nth-child(4) {
    background: $bckIT4;
}

.text__item {
    @include text__hero ('Circular Std',normal,bold,28px,35px);
    margin-top: 45px;
}
