footer {
    background: $bcg;
    padding: 145px 0 139px 0;
}

.footer__information {
    display: flex;
    justify-content: space-between;
}

.footer__content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__nav {
    @include customFlex;
    align-items: center;
    width: 440px;
    margin-left: 366px;
}

.foot__link {
    @include text__hero ('Circular Std',normal,450,16px,20px);   
    text-align: center;
    text-decoration: none;
    color: $clrSUB;
}

.networks {
    width: 125px;
    display: flex;
    justify-content: space-between;
    margin-left: 360px;
}

.line__five {  
    margin-top: 50px;
    width: 1410px;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
}

.footer__text {
    @include text__hero ('Circular Std',normal,450,14px,18px);   
    text-align: center;
    color: $clrSUB;;
    margin-top: 35px;
}