footer {
    background: $bcg;
    padding: 145px 0 139px 0;
}

.footer__content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer__nav {
    @include customFlex;
    align-items: center;
    width: 440px;
    margin-left: 366px;
}

.foot__link {
    @include text__hero ('Circular Std',normal,450,16px,20px);    font-family: 'Circular Std';
    text-align: center;
    text-decoration: none;
    color: $clrSUB;
}