
.header {
    @include customFlex;
    align-items: center;
    margin-top: 37px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__link {
    @include text('Circular Std',450,18px,23px,center);
    color: $mainCLR;
    margin-left: 70px;
}

.active {
    @include text('Circular Std',bold,18px,23px,center);
    color: $mainCLR;
    margin-left: 242px;
}

.active:hover {
    color: $CLR;
}

.nav__btn {
    @include text('Circular Std',500,18px,23px,center);
    @include border;
    color: $basCLR;
    padding: 16px 33px;
    margin-left: 40px;
}

.nav__btn:hover {
    @include text('Circular Std',500,18px,23px,center);
    @include border_hover;
    color:  $CLR;
    padding: 16px 33px;
    margin-left: 40px;
}