.hero {   
    background: linear-gradient(90deg, #FFEEFE 0%, #F5F7FF 51.56%, #E4F2FE 100%);
    padding-bottom: 256px; 
    padding-top: 234px;
   
    &__description {
        position: relative; 
        margin-left: 245px; 
    }

    &__title {
@include text__hero ('Circular Std',normal,900,96px,110px);        
        color: $mainCLR;
    }

    &__subtitle {
        @include text__hero ('Circular Std',normal,450,18px,28px);
        color: $clrSUB;
        margin-top: 25px;
    }

    &__btn {
        display: flex;
        flex-direction: row;
        justify-content:left;
        align-items:center;
        margin-top: 60px;

        .btn {
            @include text ('Circular Std',500,16px,20px,center);
            color: $CLR;
            background: $basCLR;
            box-shadow: 0px 10px 25px rgba(210, 177, 207, 0.3);
            border-radius: 10px;
            padding: 20px 30px;
            margin-right: 40px;
        }

        .circle {
            width: 60px;
            height: 60px;
            border: 2px solid #9166F0;
            border-radius: 100%;
            box-sizing: border-box;
        }
        
        .triangle {
            position: relative;
            width: 14px;
            height: 16px;
            border: 12px solid transparent;
            border-left: 12px solid #9166F0;
            right: 33px;
        }
        
    }

    &__text {
        @include text__hero ('Circular Std',normal,500,16px,20px);
        color: $mainCLR;  
        margin-left: 20px;
    }

    &__img {
        position: relative; 
        max-width: 863px;
        width: 100%;

        .img {
            position: absolute;
            top: -500px;
            left: 716px; 
        }
    }
}

.figure__1 {
    @include figure (103px,103px,100%,$grad,block,absolute,78px,206px);
    filter: blur(15px); 
}

.figure__2 {
    @include figure (29px,29px,100%,$grad2,block,absolute,1350px,162px);
}

.figure__3 {
    @include figure (147px,145px,100%,$grad2,block,absolute,1615.89px,235.02px);
}

.figure__4 {
    width: 153px;
    height: 158px;
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.1));
    
    position: absolute;
    left: 1361px;
    top: 270px;
}