@media screen and (max-width: 1680px) {
    .hero__description {
        margin: -100px 0 0 150px;
    }

    .hero__img {
        max-width: 600px;
        top: 50px;
    }

    .figure__1 {
        @include figure (80px,80px,100%,$grad,block,absolute,78px,140px); 
    }

    .figure__4 {
        width: 120px;
        height: 120px;
        left: 1150px;
        top: 200px;
    }

    .figure__3 {
        @include figure (110px,110px,100%,$grad2,block,absolute,1500.89px,235.02px);
    }

    .inner__element {
        @include forms (550px,550px,100%,$CLRhover,0)
    }

    .inner__photo {
        width: 650px;
        height: 650px;
        top: -100px;
        left: -100px;
    }    
}

@media screen and (max-width: 1480px) {
    .figure__2 {
        left: 1300px;
    }

    .figure__3 {
        @include figure (90px,90px,100%,$grad2,block,absolute,1300px,235.02px);
    }

    .figure__4 {
        left: 1070px;
        top: 150px;
    }

    .hero__img {
        right: 50px;
    }

    .works__item {
        margin-left: 790px;
    }

    .works__inner {
        margin-top: -400px;
        margin-left: 100px;
    }

    .inner__element {
        @include forms (450px,450px,100%,$CLRhover,0)
    }

    .inner__photo {
        width: 550px;
        height: 550px;
        top: -100px;
        left: -90px;
    }    
}

@media screen and (max-width: 1420px) {
    .hero__description {
        margin-left: 100px;
    }

    .hero__title {
        @include text__hero ('Circular Std',normal,900,76px,90px);  
    }

    .hero__img {
        right: 120px;
    }

    .figure__2 {
        left: 1200px;
        top: 120px;
    }

    .figure__3 {
        left: 1200px;
        top: 200px;
    }

    .figure__4 {
        left: 950px;
        top: 150px;
    }
}

@media screen and (max-width: 1400px) {
    // choose section
    .title {
        @include text__hero ('Circular Std',normal,900,48px,66px);
    }
    
    .subtitle {
        @include text__hero ('Circular Std',normal,450,16px,23px);
        margin-top: 10px;
    }

    .inner__title {
        @include text__hero ('Circular Std',normal,bold,26px,40px);
    }
    
    .inner__subtitle {
        @include text__hero ('Circular Std',normal,450,16px,23px);
        margin-top: 15px; 
    }

    // works section
    .works__title {
        @include text__hero ('Circular Std',normal,900,48px,66px);    
    }
    
    .works__subtitle {
        @include text__hero ('Circular Std',normal,500,16px,23px);    
        margin-top: 10px;
    }

    .keys__item {
        margin-top: 35px;
    }

    .keys__title {
        @include text__hero ('Circular Std',normal,bold,18px,30px);    
    }
        
    .keys__subtitle {
        @include text__hero ('Circular Std',normal,450,14px,20px);    
        margin-top: 5px;
    }

    .works__inner {
        margin-top: -500px;
        margin-left: 150px;
    }

    // apps section
    .apps__content {
        margin-left: 50px;
    }

    .title__apps {
        @include text__hero ('Circular Std', normal, 900, 48px, 66px); 
    }
    
    .subtitle__apps {
        @include text__hero ('Circular Std', normal, 450, 16px, 23px); 
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .btn__apps {
        @include text__hero ('Circular Std', normal, 700, 16px, 25.3px); 
    }

    .apps__img {
        right: 175px;
    }

    .phone__element {
        @include forms (450px,450px,100%,$phone,0);
        right: 100px;
    }

    .phone__img {
        height: 500px;
        left: 115px;
        top: -35px;
    }

    // featurus section
    .text__item {
        @include text__hero ('Circular Std',normal,bold,22px,35px);
    }

    // support section 
    .support__item {
       margin-left: 50px;
    }

    .support__title {
        @include text__hero ('Circular Std',normal,900,48px,66px);
    }

    .support__subtitle {
        @include text__hero ('Circular Std',normal,450,16px,23px);
        margin-top: 15px;
    }

    .support__btn {
        margin-right: 100px;
    }
}

@media screen and (max-width: 1390px) {
    // sponsors section 
    .wrap {
        box-shadow: none;
        justify-content: center;
    }

    .slide {
        box-shadow: 0px 15px 25px rgba(193, 201, 205, 0.25);
    }

    .slide:nth-child(6) {
        display: none;
    }

    // footer 
    .networks {
        margin-left: 250px;
    }
}

@media screen and (max-width: 1360px) {
    .cards__item {
        width: 280px;
        height: 280px;
        margin: 0 40px;
    }
}

@media screen and (max-width: 1330px) {
    // works section
    .works__item {
        margin-left: 710px;
    }

    // footer 
    .networks {   
        margin-left: 150px;
    }  
}

@media screen and (max-width: 1290px) {
    // hero section
    .hero__img {
        right: 180px;
    }

    .figure__3 {
        left: 1110px;
    }

    .figure__4 {
        left: 880px;
        top: 120px;
    }  
}

@media screen and (max-width: 1250px) {
    // works section
    .works__item {
        width: 550px;
    }

    .works__subtitle {
        @include text__hero ('Circular Std',normal,500,14px,20px);    
    }      
}

@media screen and (max-width: 1230px) {
    // hero section 
    .hero__title {
    @include text__hero ('Circular Std',normal,900,60px,70px);        
    }
        
    .hero__subtitle {
    @include text__hero ('Circular Std',normal,450,14px,22px);
    margin-top: 10px;
    }

    .hero__img {
        max-width: 500px;
    }

    .hero__img {
        top: 150px;
    }

    .figure__2 {
        display: none
    }

    .figure__3 {
        display: none;
    }

    .figure__4 {
        width: 90px;
        height: 90px;
        top: 130px;     
    }

    // works section
    .works__item {
        width: 550px;
        margin-left: 660px;
    }

    .works__subtitle {
        @include text__hero ('Circular Std',normal,500,14px,20px);    
    }    
    
    .works__inner {
        margin-left: 110px;
    }

    .inner__element {
        @include forms (450px,450px,100%,$CLRhover,0)
    }
    
    .inner__photo {
        width: 510px;
        height: 550px;
        top: -100px;
        left: -60px;
    }

    // featurus
    .cards__item {
        width: 330px;
        height: 290px;
    }

    // footer
    .footer__nav {
        margin-left: 250px;
    }
}
