@media screen and (max-width: 1680px) {
    .hero__description {
        margin: -100px 0 0 150px;
    }

    .hero__img {
        max-width: 600px;
        top: 50px;
    }

    .figure__1 {
        @include figure (80px,80px,100%,$grad,block,absolute,78px,140px); 
    }

    .figure__4 {
        width: 120px;
        height: 120px;
        left: 1150px;
        top: 200px;
    }

    .figure__3 {
        @include figure (110px,110px,100%,$grad2,block,absolute,1500.89px,235.02px);
    }

    .inner__element {
        @include forms (550px,550px,100%,$CLRhover,0)
    }

    .inner__photo {
        width: 650px;
        height: 650px;
        top: -100px;
        left: -100px;
    }    
}

@media screen and (max-width: 1480px) {
    .figure__2 {
        left: 1300px;
    }

    .figure__3 {
        @include figure (90px,90px,100%,$grad2,block,absolute,1300px,235.02px);
    }

    .figure__4 {
        left: 1070px;
        top: 150px;
    }

    .hero__img {
        right: 50px;
    }

    .works__item {
        margin-left: 790px;
    }

    .works__inner {
        margin-top: -400px;
        margin-left: 100px;
    }

    .inner__element {
        @include forms (450px,450px,100%,$CLRhover,0)
    }

    .inner__photo {
        width: 550px;
        height: 550px;
        top: -100px;
        left: -90px;
    }    
}

@media screen and (max-width: 1420px) {
    .hero__description {
        margin-left: 100px;
    }

    .hero__img {
        max-width: 600px;
        right: 50px;
    }
}